/*Conf geral*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat' , sans-serif;
}

/*CONF DESKTOP*/
/*Header*/
.main-nav {
  position: fixed;
  display: flex;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  color: #141414;
  text-transform: uppercase;
  background: #ffe79a;
  top: 0;
  width: 100%;
  z-index: 1;
}
.logo {
  margin-left: 8%;
  width: 150px;
  border: 27px solid #141414;
  border-radius: 22px 22px 80px 80px; 
  background-color: #141414; 
  transition: transform .3s; /* Animation */
}
.logo img:hover {
  cursor: pointer;
  transform: scale(1.2); /* (120% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.nav-links {
  display: flex;
  justify-content: space-around;
  margin-right: 8%;
  box-sizing:border-box;
}
.nav-links li{
  margin-left: 10px;
  border: 1px solid #141414;
  border-radius: 25px;
  width: 125px;
  text-align: center;
}
.nav-links li:hover {
  cursor: pointer;
  color: #fff;
  background-color:#141414;
}
.nav-links li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0 5px 0;
  width: 100%;
  height: 100%;
}
.burger {
  display: none;
  margin-right: 4%;
  cursor: pointer;
}
.line {
  height: 2px;
  width: 35px;
  margin: 0.5rem 0;
  background: #141414;
  transition: transform 0.75s ease, opacity 0.75s ease;
}
.main-nav.show .line1 {
  transform: translate(-10px) rotate(45deg) translate(15px);
}
.main-nav.show .line2 {
  opacity: 0;
}
.main-nav.show .line3 {
  transform: translate(-10px) rotate(-45deg) translate(15px);
}
.main-nav.show .nav-links {
  transform: translateX(0%);
}

/*Trabalhos*/
@keyframes animate {
  from {
    transform: perspective(3000px) rotateY(0deg);
  }
  to {
    transform: perspective(3000px) rotateY(360deg);
  }
}
.carrossel {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 18vh 0 10vh 0;
  background-image: url('../public/bgTrabalhos.jpg');
  background-size: cover;
}
.box {
  display: flex;
  align-items: center;
  width: 270px;
  transform-style: preserve-3d;
  animation: animate 30s infinite linear;
}
.box:hover {
  cursor: pointer;
  animation-play-state: paused;
}
.celular {
  position: absolute;
  width: 100%;
  transform-origin: center;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.celular:nth-child(1) {
	transform: rotateY(0deg) translateZ(330px); 
} 
.celular:nth-child(2) {
	transform: rotateY(45deg) translateZ(330px); 
} 
.celular:nth-child(3) {
	transform: rotateY(90deg) translateZ(330px); 
} 
.celular:nth-child(4) {
	transform: rotateY(135deg) translateZ(330px); 
} 
.celular:nth-child(5) {
	transform: rotateY(180deg) translateZ(330px); 
} 
.celular:nth-child(6) {
	transform: rotateY(225deg) translateZ(330px); 
} 
.celular:nth-child(7) {
	transform: rotateY(270deg) translateZ(330px); 
} 
.celular:nth-child(8) {
	transform: rotateY(315deg) translateZ(330px); 
} 

/*Quem Somos*/
.confQuemSomos {
  background-image: url('../public/bgQuemSomos.jpg');
  background-size: cover;
  min-height: 100vh;
}

.containerQuemSomos {
  padding-top: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.logoLuenyo {
  width: 10%;
  padding-bottom: 2%;
}

.textoQuemSomos {
  width: 60%;
  color: #ffe79a;
  font-size: 1.3rem;
}

/*Equipe*/
.confEquipe {
  padding-top: 8vh;
  background-image: url('../public/bgEquipe.jpg');
  background-size: cover;
  min-height: 100vh;
}

.containerEquipe {
  padding: 5rem;
  text-align: center;
}

.pessoas {
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
  flex-wrap: wrap;
}

.pessoa {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.pessoaTxt {
  color: #ffe79a;
  font-size: 1rem;
  width: 250px; 
}

.pessoaImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  border: 2px solid #ffe79a;
  height: 250px;
  margin: 0 auto;
  width: 250px;
}

.luen {
  background-image: url('../public/luen.jpg');
}

.milena {
  background-image: url('../public/milena.jpg');
}

.cray {
  background-image: url('../public/cray.svg');
}

.pessoaTt {
  color: #ffe99f;
  font-size: 1.7rem;
  font-weight: 900;
  margin: 1rem 0;
}

/*Serviços*/
.confServiços {
  background-color: #111111;
  min-height: 100vh;
  background-size: cover;
}

.containerServiços {
  padding-top: 11vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.boxServiços {
  width: 450px;
  display: flex;
  flex-direction: column;
}

.boxServiços2 {
  width: 300px;
  margin-left: 35px;
}

.boxServiçosCima {
  height: 250px;
}
.boxServiçosBaixo {
  height: 250px;
}

.TtServiços {
  font-weight: bolder;
  font-size: 45px;
  color: #ffe79a;
  letter-spacing: 2px;
  text-shadow: 2px 0 #ffe79a;
  padding-bottom: 0.5rem;
}
.TxtServiços {
  font-size: 1.2rem;
  color: #ffe79a;
}
.TxtServiços li {
  margin-left: 0.25rem;
}

/*Contato*/
.confContato {
  padding-top: 8vh;
  display: flex;
  flex-wrap: wrap;
  background-image: url('../public/bgContato.jpg');
  background-size: cover;
  min-height: 100%;
  width: 100%;
}

.container50pDireita {
  padding-left: 10%;
  width: 590px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxContato {
  margin-bottom: 0.8rem;
  text-align: center;
  background: transparent;
  padding: 10px 0 10px 0;
  border: 1px solid  #ffe79a;
  border-radius: 25px;
  width: 60%;
  color: #ffe79a;
  font-weight: 550;
}

.container50pEsquerda {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.txtContato {
  font-weight: bolder;
  font-size: 30px;
  color: #ffe79a;
  letter-spacing: 2px;
  text-shadow: 2px 0 #ffe79a;
  margin-bottom: 1rem;
}

.logoWhatsContato {
  width: 150px;
  color: #ffe79a;
}

.show {
  display: none;
  margin-bottom: 0.8rem;
  text-align: center;
  background: transparent;
  padding: 10px 0 10px 0;
  border: 1px solid  #ffe79a;
  border-radius: 25px;
  width: 60%;
  color: #ffe79a;
  font-weight: 550;
}

.show:hover {
  cursor: pointer;
  color:#141414;
  background-color: #ffe79a;
}

/*PlaceHolder*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #ffe79a;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: #ffe79a;
 opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color: #ffe79a;
 opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #ffe79a;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color: #ffe79a;
}
::placeholder { /* Most modern browsers support this now. */
 color: #ffe79a;
}

*:focus {
  outline: none;
}
textarea {
  resize: none;
}

::-webkit-input-placeholder { opacity: 1; -webkit-transition: opacity .5s; transition: opacity .5s; }  /* Chrome <=56, Safari < 10 */
:-moz-placeholder { opacity: 1; -moz-transition: opacity .5s; transition: opacity .5s; } /* FF 4-18 */
::-moz-placeholder { opacity: 1; -moz-transition: opacity .5s; transition: opacity .5s; } /* FF 19-51 */
:-ms-input-placeholder { opacity: 1; -ms-transition: opacity .5s; transition: opacity .5s; } /* IE 10+ */
::placeholder { opacity: 1; transition: opacity .5s; } /* Modern Browsers */
    
*:focus::-webkit-input-placeholder { opacity: 0; } /* Chrome <=56, Safari < 10 */
*:focus:-moz-placeholder { opacity: 0; } /* FF 4-18 */
*:focus::-moz-placeholder { opacity: 0; } /* FF 19-50 */
*:focus:-ms-input-placeholder { opacity: 0; } /* IE 10+ */
*:focus::placeholder { opacity: 0; }

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: #ffe79a !important;
}

/*Clientes*/
.confClientes {
  background-image: url('../public/bgClientes.jpg');
  background-size: cover;
  min-height: 100vh;
}
/*CONF -1197PX*/
@media screen and (max-width: 1196px) {
  /*Contato*/
  .confContato {
    padding-top: 8vh;
    display: flex;
    flex-wrap: wrap;
    background-image: url('../public/bgContato.jpg');
    background-size: cover;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
  }
  .container50pDireita {
    padding-left: 0;
    width: 590px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container50pEsquerda {
    text-align: center;
    width: 50%;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


/*CONF -1150PX*/
/*Header*/
@media screen and (max-width: 1150px) {
  /*Header*/
  .burger {
    display: block;
  }
  .nav-links {
    position: fixed;
    top: 8vh;
    right: 0;
    height: 92vh;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #ffe79a;
    transform: translateX(100%);
    transition: transform 1s ease;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    margin-right: 0;
  }
  .nav-links li{
    margin-left: 0;
    border: none;
    border-radius: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .textoQuemSomos {
    width: 70%;
  }
  .logoLuenyo {
    padding-bottom: 1%;
  }
}

/*CONF -800PX*/
@media screen and (max-width: 800px) {
    /*Serviços*/
    .boxServiços2 {
      width: 450px;
      margin-left: 0;
    }
    .boxServiçosCima {
      margin-bottom: 2rem;
      height: auto;
    }
    .boxServiçosBaixo {
      margin-bottom: 2rem;
      height: auto;
    }
    .logoLuenyo {
      width: 20%;
    }
    .textoQuemSomos {
      width: 90%;
      font-size: 1.3rem;
    }
}

/*CONF -700PX*/
@media screen and (max-width: 700px) {
  .carrossel {
    display: none;
  }
}


